@media (max-width: 480px){
    .settings-area :nth-child(2n){
     display: none;
    }
    .search-area  {
        position: relative;
        background: none;
        margin: 0;
    }
    .search-area span{
        margin-left: 5px;
    }
    .search-area input {
        display: none;
    }
    .sidebar{
        z-index: 1;
    }
    .form-container{
        max-width: 300px;
        margin: 20px 23px 32px auto;
    }
    .notes{
        margin-left: 13px;
        padding-right: 0;
    }
    .note{
        width: 300px;
    }
    .icons .tooltip{
        margin:0;
    } 
    .small-icon{
        color: black;
        font-size: 0.9rem;
      }
      .form .form-actions{
          flex-wrap: wrap;
          justify-content: flex-end;
      }
}